<tr>
  <td><%= user.email %></td>
  <td><%= user.current_sign_in_at  %></td>
  <td><%= user.last_sign_in_at  %></td>
  <td>
        <%= link_to "Edit", edit_user_path(user) %>   |
        <%= link_to "Delete", user, method: :delete, data: {confirm: "You sure?"} %>
  </td>
</tr>