<tr>
  <td><%= control_number(sensor) %></td>
  <td><%= sensor.name %></td>
  <td><%= sensor.category %></td>
  <td><%= sensor.model %></td>
  <td><%= sensor.serial_no %></td>
  <td>
    <%= link_to "edit", edit_sensor_path(sensor) %>    |
    <%= link_to "delete", sensor, method: :delete, data: { confirm: "You sure?" } %>
  </td>
</tr>