<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">ECN/MCN</Data></Cell>
        <Cell><Data ss:Type="String">Sensor Name</Data></Cell>
        <Cell><Data ss:Type="String">Sensor Type</Data></Cell>
        <Cell><Data ss:Type="String">Model</Data></Cell>
        <Cell><Data ss:Type="String">Serial Number</Data></Cell>
      </Row>
      <% @sensors.each do |sensor| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= sensor.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= control_number(sensor) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= sensor.name %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= sensor.category %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= sensor.model %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= sensor.serial %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>