<% provide(:title, 'Edit calibration') %>

<div style="margin-left: 10%;margin-right: 10%;margin-bottom: 20px;">
    The Calibration is for
    <% if @calibration.sensors.length == 1 %>
        this sensor: <br>
    <% else %>
        these sensors: <br>
    <% end %>
  <table class="table table-bordered table-condensed" style="margin-top: 10px">
    <tr>
      <th>MCN / ECN / Serial Number</th>
      <th>Name</th>
      <th>Sensor Type</th>
      <th>Model</th>
    </tr>
    <% @calibration.sensors.each do |sensor| %>
        <tr>
          <td><%= sensor_label(sensor) %></td>
          <td><%= sensor.name %></td>
          <td><%= sensor.category %></td>
          <td><%= sensor.model %></td>
        </tr>
    <% end %>
  </table>

</div>
</p>

<div class="row">
  <div class="span10 offset2">
    <%= simple_form_for(@calibration, :html => {:class => 'form-horizontal'}) do |f| %>

        <%= display_base_errors @calibration %>

        <%= f.input :orig_filename, :label => 'Name of excel file', :readonly => true, :input_html => {:style => 'width:300px;'} %>

        <%= f.input :calibration_date, :use_short_month => true, :label => 'Calibration date', :prompt => {:day => 'day', :month => 'month', :year => 'year'} %>

        <%= f.input :expiration_date,  :use_short_month => true, :label => 'Expiration date', :prompt => {:day => 'day', :month => 'month', :year => 'year'}  %>

        <%= f.input :range, :label => 'Range', hint: get_range_hint(@calibration), :input_html => {:style => 'width: 150px'} %>

        <%= f.input :measurement_unit, :label => 'Units of measurement',  :collection => Calibration::UNIT_CHOICES, :input_html => {:style => 'width: 150px'}%>

        <%= f.button :submit, 'Update Calibration', :class => "btn btn-primary" %>

        <%= link_to "Cancel",  request.env["HTTP_REFERER"], class: "btn btn-primary" %>
    <% end %>
  </div>
</div>