<% provide(:title, 'Verify calibration') %>
<h2>Verify Import of Calibration</h2>

<div style="margin-left: 10%;margin-right: 10%;margin-bottom: 20px;">
  The Calibration is for
  <% if @sensors.length == 1 %>
      this sensor: <br>
  <% else %>
       these sensors: <br>
  <% end %>
  <table class="table table-bordered table-condensed" style="margin-top: 10px">
    <tr>
      <th>MCN / ECN / Serial Number</th>
      <th>Sensor Name</th>
      <th>Sensor Type</th>
      <th>Model</th>
    </tr>
    <% @sensors.each do |sensor| %>
        <tr>
          <td><%= sensor_label(sensor) %></td>
          <td><%= sensor.name %></td>
          <td><%= sensor.category %></td>
          <td><%= sensor.model %></td>
        </tr>
    <% end %>
  </table>

</div>

<p style="margin-left: 10%;margin-right: 10%;margin-bottom: 20px">
  The form below is initialized with information that was read from the uploaded excel file.
  Please correct any values that were wrongly read or missing from the excel file.
  When you are done, selection of <b>Confirm import of calibration</b> enters the
  calibration into the database.
  Selection of the <b>Cancel</b> button returns you to the
  home page without importing the calibration into the database.

</p>
<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for(@calibration, :html => {:class => 'form-horizontal'}) do |f| %>

        <%= display_base_errors @calibration %>

        <%= f.input :orig_filename, :label => 'Name of excel file', :readonly => true %>

        <%= f.input :calibration_date, :label => 'Calibration date' %>

        <%= f.input :expiration_date, :label => 'Expiration date' %>

        <%= f.input :range, :label => 'Range', :input_html => {:style => 'width: 150px'} %>

        <%= f.input :calibration_min, :label => 'Calibration minimum', :input_html => {:style => 'width:150px;'} %>

        <%= f.input :calibration_max, :label => 'Calibration maximum', :input_html => {:style => 'width: 150px'} %>

        <%= f.input :measurement_unit, :label => 'Units of measurement', :input_html => {:style => 'width: 150px'} %>

        <%= f.button :submit, 'Confirm import of calibration', :class => "btn btn-primary" %>

        <%= f.button :submit, 'Cancel', :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>